@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,900;1,600&family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.wrapper{
    width: 100%;
    max-width: 75%;
    margin-inline: auto;   
}
img{
    max-width: 100%;
}
.flex-box{
    display: flex;
    flex-wrap: wrap;
}
.column-3-block {
   width: 33.3333%;
   padding-left: 15px;
   padding-right: 15px;
}
.flex-box-block {
   display: flex;
   flex-wrap: wrap;
   margin-left: -15px;
   margin-right: -15px;
}
  /*  common class End  */
 
.section {
    margin-top: 100px;
    margin-bottom: 30px;
}
.card-inner{
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
} 
.card-inner img{
    height: 250px;
    width: 100%;
    display: block;
    object-fit: cover;
}
.card-content {
   text-align: center;
   padding: 0 30px 30px;
}
.card-content img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-inline: auto;
    margin-top: -50px;
    outline: 6px solid #fff;
    transition: .3s ease;
}
.card-content h1{
   font-size: 24px;
   margin-top: 15px;
   margin-bottom: 15px;
}
.card-content p{
    font-style: 16px;
    line-height: 25px;
    margin-bottom: 30px;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a{
    text-decoration: none;
    color: aqua;
    margin-inline: 10px;
}
.card-inner:hover .card-content img {
    outline-color: aqua;
}
